<div class="container">
  <div class="col-xs-4 expBox">
    <br>
    <h2>トレーニングを継続するには</h2><br>
    <p>トレーニングを継続するためには日々のトレーニング記録をつけることが重要です。<br>
    <br>
      トレーニングの継続が難しいのは"成長の実感"が得づらいためです。<br>
      <br>
      自分の体型の変化をはっきりと感じられるのはトレーニング開始3ヶ月が経過した頃。<br>
      <br>
      それまでにモチベーションを維持するためには<br>
      <br>
      ダンベル等使用器具の重量や行える回数の増加が鍵になります。<br>
      <br>
      それらをこのカレンダーに記録し、開始数ヶ月のスタートダッシュを成功させましょう!<br>
      </p>
  </div>
</div>
